@use './helpers' as *;

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	@include visually-hidden;
}

.disabled {
	@include disabled;
}

.full-width {
	width: 100%;
}

.ml-auto {
	margin-left: auto;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lucide {
	stroke-width: 2px;
	flex-shrink: 0;
	height: 1em;
	width: 1em;
}

.custom-scrollbar-s {
	&::-webkit-scrollbar {
		width: var(--space-3);
		height: var(--space-3);
	}
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		background-clip: content-box;
		border: var(--space-1) solid transparent;
		border-radius: var(--space-3);
	}
	&::-webkit-scrollbar-track {
		background-color: var(--border-color-grey);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--font-color-soft);
	}
}

.animate-border {
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 10px;
		height: 5px;
		opacity: 0;
		pointer-events: none;
		transition:
			width 0.6s,
			height 0.4s,
			opacity 0.6s,
			border-color 0.1s
	}
	
	&:before {
		left: -1px;
		bottom: -1px;
		border-left: 2px solid var(--border-color);
		border-bottom: 2px solid var(--border-color);
		border-bottom-left-radius: inherit;
	}
	&:after {
		right: -1px;
		top: -1px;
		border-right: 2px solid var(--border-color);
		border-top: 2px solid var(--border-color);
		border-top-right-radius: inherit;
	}

	&:not([data-disabled]) {
		@include hover {
			border-top-left-radius: 0px;
			border-bottom-right-radius: 0px;
			&:before,
			&:after {
				width: 100%;
				height: calc(100% + 2px);
				opacity: 1;
			}
		}
	}

	&[data-popup-open],
	&[data-focused] {
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		&:before,
		&:after {
			width: 100%;
			height: calc(100% + 2px);
			opacity: 1;
		}
	}

	&:focus-visible {
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		&:before,
		&:after{
			width: 100%;
			height: calc(100% + 2px);
			opacity: 1;
		}
	}
}

