:root {
	--container-width: 1600px;
	--container-padding-x: 16px;

	--button-height-1: var(--space-5);
	--button-height-2: var(--space-6);
	--button-height-3: var(--space-7);
	--button-height-4: var(--space-8);

	--menu-item-padding-inline: var(--space-3);
	--menu-item-padding-block: var(--space-2);
	--menu-item-group-label-height: var(--space-6);
}
