.accordion {
	--accordion-transition: 0.4s;
    --border-color: var(--solid-color-accent-1);
	border: var(--border-weight-hard) solid var(--bg-color-grey-3);

	&:where(.size-1) {
		--accordion-padding-inline: var(--space-2);
		--accordion-padding-block: var(--space-2);
		--accordion-title-size: var(--font-size-3);
	}
	&:where(.size-2) {
		--accordion-padding-inline: var(--space-4);
		--accordion-padding-block: var(--space-4);
		--accordion-title-size: var(--font-size-5);
	}
	&:where(.size-3) {
		--accordion-padding-inline: var(--space-5);
		--accordion-padding-block: var(--space-5);
		--accordion-title-size: var(--font-size-6);
	}
	&[data-disabled] {
		@include disabled;
	}
}

.header {
	margin: 0;
    border-radius: inherit;
    margin: calc(var(--border-weight-hard) / 2 * -1);
}

.trigger {
	color: var(--font-color-hard);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
	font-size: var(--accordion-title-size);
	border: none;
    padding-block: var(--accordion-padding-block);
	padding-inline: var(--accordion-padding-inline);
    column-gap: var(--accordion-padding-inline);
    background-color: var(--bg-color-grey-3);
	cursor: inherit;
	user-select: none;
    transition: color 0.2s, border-radius var(--accordion-transition);
    border-radius: inherit;
    position: relative;
    

    &:focus-visible {
        @include focused-outline;
    }

    @include hover {
        color: var(--font-color-accent-hard);
    }

	&:where([data-panel-open]) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

		.indicator {
			transform: rotate(45deg);
		}
	}
}

.indicator {
	transition:
		transform var(--accordion-transition),
        color 0.2s;
}

.panel {
	height: var(--accordion-panel-height);
	transition: all var(--accordion-transition) ease-out;
	overflow: hidden;
	position: relative;

	&[data-starting-style],
	&[data-ending-style] {
		height: 0;
		opacity: 0;
	}
}

.content {
	padding-block: var(--accordion-padding-block);
	padding-inline: var(--accordion-padding-inline);
}

