.yar-bg-color-grey-1 {
	background-color: var(--bg-color-grey-1);
}
.yar-bg-color-grey-2 {
	background-color: var(--bg-color-grey-2);
}
.yar-bg-color-grey-3 {
	background-color: var(--bg-color-grey-3);
}
