.yar-border-top {
	border-top: var(--border-weight-soft) solid var(--border-color-grey);
}
.yar-border-right {
	border-right: var(--border-weight-soft) solid var(--border-color-grey);
}
.yar-border-left {
	border-left: var(--border-weight-soft) solid var(--border-color-grey);
}
.yar-border-bottom {
	border-bottom: var(--border-weight-soft) solid var(--border-color-grey);
}
.yar-border-all {
	border: var(--border-weight-soft) solid var(--border-color-grey);
}
