.yar-color-hard {
	color: var(--font-color-hard);
}
.yar-color-soft {
	color: var(--font-color-soft);
}
.yar-color-error-hard {
	color: var(--font-color-error-hard);
}
.yar-color-error-soft {
	color: var(--font-color-error-soft);
}
.yar-color-accent-hard {
	color: var(--font-color-accent-hard);
}
.yar-color-accent-soft {
	color: var(--font-color-accent-soft);
}
