.yar-tw-wrap {
	white-space: normal;
}
.yar-tw-nowrap {
	white-space: nowrap;
}
.yar-tw-pretty {
	white-space: normal;
	text-wrap: pretty;
}
.yar-tw-balance {
	white-space: normal;
	text-wrap: balance;
}
