.viewport {
    position: fixed;
    z-index: 10;
    max-width: min(350px, calc(100% - var(--container-padding-x) * 2));
    width: 100%;
    margin: 0 auto;
    bottom: var(--container-padding-x);
    right: var(--container-padding-x);
}