:root,
.dark-theme {
	--accent-hue: 44;
	--accent-saturation: 56%;
	--accent-lightness: 69%;

	--color-accent-a1: hsla(
		var(--accent-hue),
		var(--accent-saturation),
		var(--accent-lightness),
		0.1
	);
	--color-accent-a2: hsla(
		var(--accent-hue),
		var(--accent-saturation),
		var(--accent-lightness),
		0.2
	);
	--color-accent-a3: hsla(
		var(--accent-hue),
		var(--accent-saturation),
		var(--accent-lightness),
		0.3
	);
	--color-accent-a9: hsla(
		var(--accent-hue),
		var(--accent-saturation),
		var(--accent-lightness),
		0.6
	);

	--border-color-accent: var(--color-accent-a2);

	--solid-color-accent-1: #DCC483;
	--solid-color-accent-2: #aa9763;

	--font-color-accent-soft: #aa9763;
	--font-color-accent-hard: #DCC483;
}
