:root,
.dark-theme {
	--grey-hue: 0;
	--grey-saturation: 0%;
	--grey-lightness: 100%;

	--bg-color-grey-1: #18181a;
	--bg-color-grey-2: #222224;
	--bg-color-grey-3: #303031;
	--bg-color-grey-4: #3d3d41;

	--border-color-grey: var(--color-grey-a2);

	--font-color-soft: #a2a2a7;
	--font-color-hard: #ffffff;
	--font-color-hard-invert: #18181a;
	--font-color-soft-invert: #222224;

	--color-grey-a1: hsla(var(--grey-hue), var(--grey-saturation), var(--grey-lightness), 0.05);
	--color-grey-a2: hsla(var(--grey-hue), var(--grey-saturation), var(--grey-lightness), 0.15);
	--color-grey-a3: hsla(var(--grey-hue), var(--grey-saturation), var(--grey-lightness), 0.25);
	--color-grey-a9: hsla(var(--grey-hue), var(--grey-saturation), var(--grey-lightness), 0.7);
}
