:root,
.dark-theme {
	--success-hue: 135;
	--success-saturation: 86%;
	--success-lightness: 65%;

	--color-success-a1: hsla(
		var(--success-hue),
		var(--success-saturation),
		var(--success-lightness),
		0.1
	);
	--color-success-a2: hsla(
		var(--success-hue),
		var(--success-saturation),
		var(--success-lightness),
		0.2
	);
	--color-success-a3: hsla(
		var(--success-hue),
		var(--success-saturation),
		var(--success-lightness),
		0.3
	);
	--color-success-a9: hsla(
		var(--success-hue),
		var(--success-saturation),
		var(--success-lightness),
		0.9
	);

	--border-color-success: var(--color-success-a2);

	--solid-color-success-1: #5bf381;
	--solid-color-success-2: #7cc28e;

	--font-color-success-soft: var(--solid-color-success-2);
	--font-color-success-hard: var(--solid-color-success-1);
}
