.panel-content {
    &:where(.panel-position-bottom) {
        animation: from-bottom 0.6s;
    }
    &:where(.panel-position-top) {
        animation: from-top 0.6s;
    }
    &:where(.panel-position-left) {
        animation: from-left 0.6s;
    }
    &:where(.panel-position-right) {
        animation: from-right 0.6s;
    }
}