.item-content {
    &:where(.pl) {
        --menu-item-content-pl: calc(var(--menu-item-padding-inline) + 1em);
        padding-left: var(--menu-item-content-pl);

        .icon {
            margin-left: calc(var(--menu-item-content-pl) * -1);
        }
    }
}

.icon {
	display: flex;
    font-size: 1em;
    margin-right: var(--menu-item-padding-inline);
}
