.checkbox {
	--checkbox-size: calc(1em * 2);
	position: relative;
	height: var(--checkbox-size);
	width: var(--checkbox-size);
	margin: calc(var(--checkbox-size) / 4 * -1);
	color: var(--solid-color-accent-1);
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s;
	flex-shrink: 0;

	&:after {
		content: '';
		position: absolute;
		width: 50%;
		height: 50%;
		border-radius: 50%;
		background-color: var(--color-accent-a2);
		opacity: 0;
		transition: width 0.4s, height 0.4s, opacity 0.4s;
		z-index: -1;
	}

	&:before {
		content: '';
		position: absolute;
		width: 50%;
		height: 50%;
		background-color: var(--bg-color-grey-2);
		border-radius: var(--radius-1);
		transition:
			background-color 0.2s,
			border-color 0.2s;
		border: var(--border-weight-soft) solid var(--border-color-grey);
	}

	&:where([data-checked]) {
		&:before {
			background-color: var(--solid-color-accent-1);
			border-color: var(--solid-color-accent-1);
		}
	}

	&:focus-visible {
		outline: 2px solid var(--solid-color-accent-1);
	}

	@include hover {
		&::after {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}
}

.indicator {
	position: absolute;
	height: 50%;
	width: 50%;
	color: var(--font-color-soft);
	display: flex;
	justify-content: center;
	align-items: center;

	&[data-checked] {
		color: var(--font-color-hard-invert);
	}
}

.check-icon {
	--size: calc(1em - 3px);
    width: var(--size) !important;
    height: var(--size) !important;
}