.yar-as-start {
	align-self: start;
}

.yar-as-center {
	align-self: center;
}

.yar-as-end {
	align-self: end;
}

.yar-as-baseline {
	align-self: baseline;
}

.yar-as-stretch {
	align-self: stretch;
}