.yar-ac-start {
	align-content: start;
}

.yar-ac-center {
	align-content: center;
}

.yar-ac-end {
	align-content: end;
}

.yar-ac-baseline {
	align-content: baseline;
}

.yar-ac-stretch {
	align-content: stretch;
}

.yar-ac-space-between {
	align-content: space-between;
}

.yar-ac-space-around {
	align-content: space-around;
}

.yar-ac-space-evenly {
	align-content: space-evenly;
}
