.yar-ai-start {
	align-items: flex-start;
}

.yar-ai-center {
	align-items: center;
}

.yar-ai-end {
	align-items: flex-end;
}

.yar-ai-baseline {
	align-items: baseline;
}

.yar-ai-stretch {
	align-items: stretch;
}