.yar-display-block {
	display: block;
}

.yar-display-inline {
	display: inline;
}

.yar-display-inline-block {
	display: inline-block;
}

.yar-display-flex {
	display: flex;
}

.yar-display-inline-flex {
	display: inline-flex;
}

.yar-display-grid {
	display: grid;
}

.yar-display-inline-grid {
	display: inline-grid;
}

.yar-display-none {
	display: none;
}

.yar-display-contents {
	display: contents;
}
