.yar-gcs {
	/* Keep this selector here to maintain the source order */
}
.yar-gcs-1 {
	grid-column-start: 1;
}
.yar-gcs-2 {
	grid-column-start: 2;
}
.yar-gcs-3 {
	grid-column-start: 3;
}
.yar-gcs-4 {
	grid-column-start: 4;
}
.yar-gcs-5 {
	grid-column-start: 5;
}
.yar-gcs-6 {
	grid-column-start: 6;
}
.yar-gcs-7 {
	grid-column-start: 7;
}
.yar-gcs-8 {
	grid-column-start: 8;
}
.yar-gcs-9 {
	grid-column-start: 9;
}

.yar-gcs {
	grid-column-start: var(--grid-column-start);
}
