.yar-gaf-row {
	grid-auto-flow: row;
}

.yar-gaf-column {
	grid-auto-flow: column;
}

.yar-gaf-dense {
	grid-auto-flow: dense;
}

.yar-gaf-row-dense {
	grid-auto-flow: row dense;
}

.yar-gaf-column-dense {
	grid-auto-flow: column dense;
}
