.yar-grs {
	/* Keep this selector here to maintain the source order */
}
.yar-grs-1 {
	grid-row-start: 1;
}
.yar-grs-2 {
	grid-row-start: 2;
}
.yar-grs-3 {
	grid-row-start: 3;
}
.yar-grs-4 {
	grid-row-start: 4;
}
.yar-grs-5 {
	grid-row-start: 5;
}
.yar-grs-6 {
	grid-row-start: 6;
}
.yar-grs-7 {
	grid-row-start: 7;
}
.yar-grs-8 {
	grid-row-start: 8;
}
.yar-grs-9 {
	grid-row-start: 9;
}
.yar-grs {
	grid-row-start: var(--grid-row-start);
}

