.yar-inset {
	inset: var(--inset);
}
.yar-inset-0 {
	inset: 0;
}
.yar-inset-1 {
	inset: var(--space-1);
}
.yar-inset-2 {
	inset: var(--space-2);
}
.yar-inset-3 {
	inset: var(--space-3);
}
.yar-inset-4 {
	inset: var(--space-4);
}
.yar-inset-5 {
	inset: var(--space-5);
}
.yar-inset-6 {
	inset: var(--space-6);
}
.yar-inset-7 {
	inset: var(--space-7);
}
.yar-inset-8 {
	inset: var(--space-8);
}
.yar-inset-9 {
	inset: var(--space-9);
}

.yar-top {
	top: var(--top);
}
.yar-top-0 {
	top: 0;
}
.yar-top-1 {
	top: var(--space-1);
}
.yar-top-2 {
	top: var(--space-2);
}
.yar-top-3 {
	top: var(--space-3);
}
.yar-top-4 {
	top: var(--space-4);
}
.yar-top-5 {
	top: var(--space-5);
}
.yar-top-6 {
	top: var(--space-6);
}
.yar-top-7 {
	top: var(--space-7);
}
.yar-top-8 {
	top: var(--space-8);
}
.yar-top-9 {
	top: var(--space-9);
}

.yar-right {
	right: var(--right);
}
.yar-right-0 {
	right: 0;
}
.yar-right-1 {
	right: var(--space-1);
}
.yar-right-2 {
	right: var(--space-2);
}
.yar-right-3 {
	right: var(--space-3);
}
.yar-right-4 {
	right: var(--space-4);
}
.yar-right-5 {
	right: var(--space-5);
}
.yar-right-6 {
	right: var(--space-6);
}
.yar-right-7 {
	right: var(--space-7);
}
.yar-right-8 {
	right: var(--space-8);
}
.yar-right-9 {
	right: var(--space-9);
}

.yar-bottom {
	bottom: var(--bottom);
}
.yar-bottom-0 {
	bottom: 0;
}
.yar-bottom-1 {
	bottom: var(--space-1);
}
.yar-bottom-2 {
	bottom: var(--space-2);
}
.yar-bottom-3 {
	bottom: var(--space-3);
}
.yar-bottom-4 {
	bottom: var(--space-4);
}
.yar-bottom-5 {
	bottom: var(--space-5);
}
.yar-bottom-6 {
	bottom: var(--space-6);
}
.yar-bottom-7 {
	bottom: var(--space-7);
}
.yar-bottom-8 {
	bottom: var(--space-8);
}
.yar-bottom-9 {
	bottom: var(--space-9);
}


.yar-left {
	left: var(--left);
}
.yar-left-0 {
	left: 0;
}
.yar-left-1 {
	left: var(--space-1);
}
.yar-left-2 {
	left: var(--space-2);
}
.yar-left-3 {
	left: var(--space-3);
}
.yar-left-4 {
	left: var(--space-4);
}
.yar-left-5 {
	left: var(--space-5);
}
.yar-left-6 {
	left: var(--space-6);
}
.yar-left-7 {
	left: var(--space-7);
}
.yar-left-8 {
	left: var(--space-8);
}
.yar-left-9 {
	left: var(--space-9);
}

