.yar-js-start {
	justify-self: start;
}

.yar-js-center {
	justify-self: center;
}

.yar-js-end {
	justify-self: end;
}

.yar-js-baseline {
	justify-self: baseline;
}

.yar-js-stretch {
	justify-self: stretch;
}