.yar-ji-start {
	justify-items: start;
}

.yar-ji-center {
	justify-items: center;
}

.yar-ji-end {
	justify-items: end;
}

.yar-ji-baseline {
	justify-items: baseline;
}

.yar-ji-stretch {
	justify-items: stretch;
}
