.yar-overflow-visible {
	overflow: visible;
}
.yar-overflow-hidden {
	overflow: hidden;
}
.yar-overflow-clip {
	overflow: clip;
}
.yar-overflow-scroll {
	overflow: scroll;
}
.yar-overflow-auto {
	overflow: auto;
}

.yar-ox-visible {
	overflow-x: visible;
}
.yar-ox-hidden {
	overflow-x: hidden;
}
.yar-ox-clip {
	overflow-x: clip;
}
.yar-ox-scroll {
	overflow-x: scroll;
}
.yar-ox-auto {
	overflow-x: auto;
}

.yar-oy-visible {
	overflow-y: visible;
}
.yar-oy-hidden {
	overflow-y: hidden;
}
.yar-oy-clip {
	overflow-y: clip;
}
.yar-oy-scroll {
	overflow-y: scroll;
}
.yar-oy-auto {
	overflow-y: auto;
}
