.yar-position-static {
	position: static;
}

.yar-position-absolute {
	position: absolute;
}

.yar-position-relative {
	position: relative;
}

.yar-position-fixed {
	position: fixed;
}

.yar-position-sticky {
	position: sticky;
}