.popup {
	position: fixed;
	transition:
		transform 0.3s,
		opacity 0.3s;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;

	&[data-starting-style],
	&[data-ending-style] {
		opacity: 0;
		transform: translateX(100%);
	}
}
