.button {
	--button-color: ;
	transition:
		background-color 0.2s,
		color 0.2s,
		border-color 0.2s,
		box-shadow 0.3s;
	border: none;
	color: var(--button-color);
	justify-content: center;

	&:where(.variant-filled) {
		--button-hover-bg-color: ;
		--button-bg-color: ;
		background-color: var(--button-bg-color);

		&:not(.disabled) {
			@include hover {
				background-color: var(--button-hover-bg-color);
			}
		}

		&:where(.color-accent) {
			--button-color: var(--font-color-hard-invert);
			--button-hover-bg-color: var(--solid-color-accent-2);
			--button-bg-color: var(--solid-color-accent-1);

			&:focus-visible {
				outline-offset: var(--focused-outline-offset-big);
			}
		}
		&:where(.color-error) {
			--button-color: var(--font-color-hard-invert);
			--button-hover-bg-color: var(--solid-color-error-2);
			--button-bg-color: var(--solid-color-error-1);
		}
		&:where(.color-success) {
			--button-color: var(--font-color-hard-invert);
			--button-hover-bg-color: var(--solid-color-success-2);
			--button-bg-color: var(--solid-color-success-1);
		}
		&:where(.color-warning) {
			--button-color: var(--font-color-hard-invert);
			--button-hover-bg-color: var(--solid-color-warning-2);
			--button-bg-color: var(--solid-color-warning-1);
		}
	}

	&:where(.variant-ghost) {
		--button-bg-color: ;
		--button-hover-bg-color: ;
		background-color: var(--button-bg-color);

		&:not(.disabled) {
			@include hover {
				background-color: var(--button-hover-bg-color);
			}
		}

		&:where(.color-accent) {
			--button-bg-color: var(--color-accent-a2);
			--button-hover-bg-color: var(--color-accent-a3);
			--button-color: var(--font-color-accent-hard);
		}
		&:where(.color-secondary) {
			--button-bg-color: var(--color-grey-a2);
			--button-hover-bg-color: var(--color-grey-a3);
			--button-color: var(--font-color-hard);
		}
		&:where(.color-warning) {
			--button-bg-color: var(--color-warning-a2);
			--button-hover-bg-color: var(--color-warning-a3);
			--button-color: var(--font-color-warning-hard);
		}
		&:where(.color-error) {
			--button-bg-color: var(--color-error-a2);
			--button-hover-bg-color: var(--color-error-a3);
			--button-color: var(--font-color-error-hard);
		}
		&:where(.color-success) {
			--button-bg-color: var(--color-success-a2);
			--button-hover-bg-color: var(--color-success-a3);
			--button-color: var(--font-color-success-hard);
		}
	}

	&:where(.variant-outlined),
	&:where(.variant-clear) {
		background-color: transparent;

		&:where(.color-accent) {
			--button-color: var(--font-color-accent-hard);
		}
		&:where(.color-secondary) {
			--button-color: var(--font-color-hard);
		}
		&:where(.color-secondary-soft) {
			--button-color: var(--font-color-soft);
		}
		&:where(.color-success) {
			--button-color: var(--font-color-success-hard);
		}
		&:where(.color-warning) {
			--button-color: var(--font-color-warning-hard);
		}
		&:where(.color-error) {
			--button-color: var(--font-color-error-hard);
		}
	}

	&:where(.variant-outlined) {
		--button-border-color: ;
		border: var(--border-weight-soft) solid var(--button-border-color);

		&:not(.disabled) {
			@include hover {
				border-color: var(--button-color);
			}
		}

		&:where(.color-accent) {
			--button-border-color: var(--border-color-accent);
		}
		&:where(.color-secondary),
		&:where(.color-secondary-soft) {
			--button-border-color: var(--border-color-grey);
		}
		&:where(.color-error) {
			--button-border-color: var(--border-color-error);
		}
		&:where(.color-success) {
			--button-border-color: var(--border-color-success);
		}
		&:where(.color-warning) {
			--button-border-color: var(--border-color-warning);
		}
	}
	&:where(.variant-clear) {
		--button-hover-bg-color: ;

		&:not(.disabled) {
			@include hover {
				background-color: var(--button-hover-bg-color);
			}
		}

		&:where(.color-accent) {
			--button-hover-bg-color: var(--color-accent-a1);
		}
		&:where(.color-secondary),
		&:where(.color-secondary-soft) {
			--button-hover-bg-color: var(--color-grey-a1);
		}
		&:where(.color-error) {
			--button-hover-bg-color: var(--color-error-a1);
		}
		&:where(.color-warning) {
			--button-hover-bg-color: var(--color-warning-a1);
		}
		&:where(.color-success) {
			--button-hover-bg-color: var(--color-success-a1);
		}
	}

	&:where(.variant-filled) {
		&:focus-visible {
			outline: var(--border-weight-hard) solid var(--button-bg-color);
			outline-offset: var(--border-weight-hard);
		}
	}
	&:not(.variant-filled) {
		&:focus-visible {
			outline: var(--border-weight-hard) solid var(--button-color);
			outline-offset: var(--border-weight-hard);
		}
	}

	&.loading {
		color: transparent;
		opacity: 1;
	}

	&:where([data-popup-open]) {
		box-shadow: 0 0 15px 2px var(--color-accent-a3);
		background-color: var(--button-hover-bg-color);
	}

	.loader {
		--loader-color: var(--button-color);
		--loader-size: calc(var(--base-button-height) / 2);
	}
}
