.header {
    display: flex;
    align-items: center;
    column-gap: var(--space-4);
    border-bottom: var(--border-weight-soft) solid var(--border-color-grey);
    padding-block: var(--space-4);
    padding-inline: var(--space-4);
    margin-inline: calc(var(--space-4) * -1);
}

.close-button {
    margin: calc(var(--button-height-3) / 4 * -1);
}
