:root {
	--radius-1: calc(3px * var(--scaling));
	--radius-2: calc(5px * var(--scaling));
	--radius-3: calc(8px * var(--scaling));
	--radius-4: calc(12px * var(--scaling));
	--radius-5: calc(16px * var(--scaling));
	--radius-full: 999px;
}
