.separator {
	background-color: var(--border-color-grey);
	border-radius: var(--radius-full);

	&[data-orientation='vertical'] {
		width: var(--border-weight-soft);
	}
	&[data-orientation='horizontal'] {
		height: var(--border-weight-soft);
	}
}
