.tab {
	background-color: transparent;
	border: none;
	transition:
		color 0.2s,
		border-radius 0.4s;
	position: relative;
	color: var(--font-color-soft);
	white-space: nowrap;

	&:not([data-disabled]) {
		@include hover {
			color: var(--font-color-hard);
		}
	}

	&:where([data-selected]) {
		color: var(--font-color-hard);
	}

	&:focus-visible {
		@include focused-outline;
	}
}
