$xs: 519.98px;
$sm: 767.98px;
$md: 1023.98px;
$lg: 1279.98px;
$xl: 1639.98px;

@mixin max-width($width) {
	@media (width <= $width) {
		@content;
	}
}

@mixin min-width($width) {
	@media (width >= $width) {
		@content;
	}
}

@mixin xs {
	@media (width <= $xs) {
		@content;
	}
}
@mixin sm {
	@media (width <= $sm) {
		@content;
	}
}
@mixin md {
	@media (width <= $md) {
		@content;
	}
}
@mixin lg {
	@media (width <= $lg) {
		@content;
	}
}
@mixin xl {
	@media (width <= $xl) {
		@content;
	}
}

