$xs: 520px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1640px;

@mixin max-width($width) {
	@media (width <= $width) {
		@content;
	}
}

@mixin min-width($width) {
	@media (width >= $width) {
		@content;
	}
}

@mixin xs {
	@media (width <= $xs) {
		@content;
	}
}
@mixin sm {
	@media (width <= $sm) {
		@content;
	}
}
@mixin md {
	@media (width <= $md) {
		@content;
	}
}
@mixin lg {
	@media (width <= $lg) {
		@content;
	}
}
@mixin xl {
	@media (width <= $xl) {
		@content;
	}
}

