.accordion {
	--accordion-transition: 0.4s;
	transition: border-color 0.2s, margin 0.4s;
	border: 1px solid var(--border-color-grey);
	border-radius: var(--radius-3);

	&:not([data-disabled]) {
		@include hover {
			border-color: var(--solid-color-accent-1);
		}
	}

	&:where([data-open]) {
		border-color: var(--solid-color-accent-1);
		margin-block: 10px;
	}

	&:where(.size-1) {
		--accordion-border-weight: 3px;
		--accordion-padding-inline: var(--space-2);
		--accordion-padding-block: var(--space-2);
		--accordion-title-size: var(--font-size-3);
	}
	&:where(.size-2) {
		--accordion-border-weight: 3px;
		--accordion-padding-inline: var(--space-3);
		--accordion-padding-block: var(--space-3);
		--accordion-title-size: var(--font-size-6);
	}
	&:where(.size-3) {
		--accordion-border-weight: 4px;
		--accordion-padding-inline: var(--space-5);
		--accordion-padding-block: var(--space-5);
		--accordion-title-size: var(--font-size-7);
	}
	&[data-disabled] {
		@include disabled;
	}
}

.header {
	margin: 0;
}

.trigger {
	background-color: transparent;
	transition: color 0.2s;
	color: var(--font-color-hard);
	width: 100%;
	padding-block: var(--accordion-padding-block);
	padding-inline: var(--accordion-padding-inline);
	display: flex;
	column-gap: var(--accordion-padding-inline);
	align-items: center;
	font-size: var(--accordion-title-size);
	border: none;
	position: relative;
	cursor: inherit;
	user-select: none;
	

	&:where([data-panel-open]) {
		color: var(--font-color-accent-hard);

		.indicator {
			transform: rotate(45deg);
			color: var(--font-color-accent-hard);
		}
	}

	// &:not([data-disabled]) {
	// 	@include hover {
	// 		&:where(:not([data-panel-open])) {
	// 			color: var(--font-color-accent-hard);
	// 			.indicator {
	// 				color: var(--font-color-accent-hard);
	// 			}
	// 		}
	// 	}
	// }
}

.indicator {
	color: var(--font-color-soft);
	transition:
		transform var(--accordion-transition),
		color 0.2s;
}

.panel {
	height: var(--accordion-panel-height);
	transition: all var(--accordion-transition) ease-out;
	overflow: hidden;
	position: relative;

	&[data-starting-style],
	&[data-ending-style] {
		height: 0;
		opacity: 0;
	}
}

.content {
	padding-block: var(--accordion-padding-block);
	padding-right: var(--accordion-padding-inline);
	padding-left: calc(var(--accordion-padding-inline) * 2 + var(--accordion-title-size));
}

