.field {
	display: flex;
	align-items: center;
	border: var(--border-weight-soft) solid var(--border-color-grey);
    background-color: transparent;
    color: var(--font-color-soft);
	transition: border-color 0.2s;

	&:not([data-disabled]) {
		@include hover {
			border-color: var(--font-color-soft);
		}
	}

	&[data-popup-open],
	&:focus-visible {
		outline: var(--border-weight-hard) solid var(--solid-color-accent-1);
		outline-offset: calc(var(--border-weight-hard) / 2 * -1);
	}

	&[data-disabled] {
		@include disabled;
	}

	&.size-1 {
		min-height: var(--button-height-3);
		padding-inline: var(--space-3);
		column-gap: var(--space-3);
		padding-block: calc(var(--space-3) / 2.5);
	}
	&.size-2 {
		min-height: var(--button-height-4);
		padding-inline: var(--space-4);
		column-gap: var(--space-4);
		padding-block: calc(var(--space-4) / 2.5);
	}
}
