.checkbox {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border-radius: var(--radius-1);
    border: var(--border-weight-soft) solid var(--border-color-grey);
    background-color: transparent;
    transition: background-color 0.2s, border-color 0.2s;
    padding: 0px;
    flex-shrink: 0;

    &:where(.size-2) {
        --checkbox-size: #{s(20)};
    }

    &:where([data-checked]) {
        border-color: var(--solid-color-accent-1);
        background-color: var(--solid-color-accent-1);
    }

    &:focus-visible {
        @include focused-outline;
        outline-offset: 2px;
    }

    &:not([data-disabled]) {
		@include hover {
			background-color: var(--color-grey-a1);

            &:where([data-checked]) {
                background-color: var(--solid-color-accent-2);
            }
		}
	}

    &:where([data-disabled]) {
        @include disabled;
    }
}

.indicator {
	color: var(--font-color-soft);
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 100%;

	&[data-checked] {
		color: var(--font-color-hard-invert);
	}
}

.check-icon {
	--size: calc(var(--checkbox-size) - 3px);
	width: var(--size) !important;
	height: var(--size) !important;
}







