.field {
	--field-border-color: var(--border-color-grey);
	--field-hover-border-color: var(--font-color-soft);
	--field-focus-outline-color: var(--solid-color-accent-1);
	display: flex;
	align-items: center;
	cursor: default;
	border: var(--border-weight-soft) solid var(--field-border-color);
	transition: border-color 0.2s;
    user-select: none;
    font-weight: var(--font-weight-light);

	&[data-focused] {
		outline: var(--border-weight-hard) solid var(--field-focus-outline-color);
		outline-offset: calc(var(--border-weight-hard) / 2 * -1);
	}

	&:not([data-disabled], [data-focused]) {
		@include hover {
			border-color: var(--field-hover-border-color);
		}
	}

	&:where([data-disabled]) {
		@include disabled;
	}

	&:where(.size-1) {
		min-height: var(--button-height-3);
		padding-inline: var(--space-3);
		padding-block: calc(var(--space-3) / 2);
		column-gap: var(--space-3);
	}
	&:where(.size-2) {
		min-height: var(--button-height-4);
		padding-inline: var(--space-4);
		padding-block: calc(var(--space-4) / 2);
		column-gap: var(--space-3);
	}

	&:where([data-errored]) {
		--field-border-color: var(--border-color-error);
		--field-focus-outline-color: var(--font-color-error-hard);
		--field-hover-border-color: var(--font-color-error-soft);
	}
}
