.switch {
    width: calc(var(--switch-size) * 2);
    height: var(--switch-size);
    border-radius: var(--radius-full);
    border: var(--border-weight-soft) solid var(--border-color-grey);
    background-color: var(--color-grey-4);
    transition: background-color 0.2s, border-color 0.2s;
    padding: 0px;
    position: relative;
    flex-shrink: 0;

    &:before {
        --size: calc(var(--switch-size) - 2px);
        content: '';
        @include abs-center;
        width: var(--size);
        height: var(--size);
        background-color: var(--color-grey-1);
        border-radius: 50%;
        transform: translateX(calc(var(--switch-size) / 2 * -1));
        transition: transform 0.2s;
    }

    &:where(.size-2) {
        --switch-size: #{s(20)};
    }

    &:where([data-checked]) {
        border-color: var(--solid-color-accent-1);
        background-color: var(--solid-color-accent-1);

        &:before {
            transform: translateX(calc(var(--switch-size) / 2));
        }
    }

    &:not([data-disabled]) {
        @include hover {
            background-color: var(--border-color-grey);

            &:where([data-checked]) {
                background-color: var(--solid-color-accent-2);
            }
        }
    }

    &:focus-visible {
        @include focused-outline;
    }

    &:where([data-disabled]) {
        @include disabled;
    }
}